
#chat {
    width: 4rem;
    padding: 1rem;
    transition: 0.2s 0s ease;
    min-width: 0px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#chat:hover {
    width: 40vw;
}

#chat .chat-input-box {
    
}