
button.form-button {
    height: 3rem;
    border: 4px solid #000;
    box-sizing: border-box;
    margin: 0px;
    padding: 0rem 2rem;
    display: block;
    align-content: center;
    background-color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    color: #000;
    border-radius: 2rem;
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 0px #000, 0px 0px 0px 10px transparent;
    flex-grow: 0;
    flex-shrink: 0;
    transition: 0.3s 0s ease;
}

button.form-button:hover, button.form-button:focus {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px #000, 0px 0px 0px 10px transparent;
}

button.form-button:active {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px #000, 0px 0px 0px 10px transparent;
    background-color: #000;
    transition: 0s 0s ease;
}

div#root main {
    flex-grow: 1;
    flex-shrink: 1;
    border: 4px solid black;
    margin: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

div#root main section {
    display: flex;
    border: 4px solid black;
    padding: 1rem 1rem;
    border-radius: 2.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 12px;
    background-color: #ffc639;
    --bg: #ffc639;
}

label {
    font-weight: 600;
    font-size: 1.25rem;
    color: #000;
    text-align: center;
}

input[type="text"] {
    height: 3rem;
    border: 4px solid #000;
    box-sizing: border-box;
    margin: 0px;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    outline: none !important;
    font-size: 1.5rem;
    min-width: 0px;
    text-align: center;
    transition: 0.3s 0s ease;
    background-color: var(--bg);
}

input[type="text"].form::placeholder {
    color: #0008;
}

input[type="text"].form#lobbyCode {
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 0px 0px 9px #0000, 0px 0px 0px 4px var(--bg), 0px 0px 0px -1px #000;
}

input[type="text"].form {
    font-weight: 600;
    box-shadow: 0px 0px 0px 9px #0000, 0px 0px 0px 4px var(--bg), 0px 0px 0px -1px #000;
}

input[type="text"].form:focus {
    box-shadow: 0px 0px 0px 9px #0000, 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px #000;
    background-color: #fff;
}

#icon-preview {
    width: 12rem;
    height: 12rem;
    box-shadow: 0px 0px 0px 4px #000;
    border-radius: 50%;
}

#icon-picker {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 1em;
}

button.icon-swap {
    font-family: "Material Symbols Rounded";
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    padding: 0.5em;
    
}

button.icon-swap span {
    font-family: "Material Symbols Rounded";
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    filter: drop-shadow(0px 0px 0px black);
    transition: 0.3s ease;
    position: relative;
    left: 0px;
}

button.icon-swap:hover span {
    filter: drop-shadow(12px 0px 0px black);
}

button.icon-swap:active span {
    filter: drop-shadow(0px 0px 0px black);
    left: 24px;
    transition: 0.05s ease;
}

button.icon-swap#icon-last {
    transform: scaleX(-1);
}