h1 {
    font-size: 3rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    font-size: 2rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

button.form-button {
    height: 3rem;
    border: 4px solid var(--black);
    box-sizing: border-box;
    margin: 0px;
    padding: 0rem 2rem;
    display: block;
    align-content: center;
    background-color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--black);
    border-radius: 2rem;
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 0px var(--black), 0px 0px 0px 10px transparent;
    flex-grow: 0;
    flex-shrink: 0;
    transition: 0.3s 0s ease;
}

button.form-button:hover, button.form-button:focus {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px var(--black), 0px 0px 0px 10px transparent;
}

button.form-button:active {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px var(--black), 0px 0px 0px 10px transparent;
    background-color: var(--black);
    transition: 0s 0s ease;
}

div#root main {
    flex-grow: 1;
    flex-shrink: 1;
    border: 4px solid var(--black);
    margin: 1rem 1rem;
    border-radius: calc(1rem + 8px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 2rem;
    position: relative;
}

div#root main.docs {
    justify-content: start;
    padding: 5rem 15vw;
    overflow-y: scroll;
    
}

div#root main.docs .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}


div#root main section {
    display: flex;
    border: 4px solid var(--black);
    padding: 1rem 1rem;
    border-radius: 2.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 12px;
    background-color: #ffc639;
    --bg: #ffc639;
}

div#root main section.join-section {
    margin-top: 2rem;
}

label {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--black);
    text-align: center;
}

input[type="text"] {
    height: 3rem;
    border: 4px solid var(--black);
    box-sizing: border-box;
    margin: 0px;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    outline: none !important;
    font-size: 1.5rem;
    min-width: 0px;
    text-align: center;
    transition: 0.3s 0s ease;
    background-color: var(--bg);
}

input[type="text"].form::placeholder {
    color: #0008;
}

input[type="text"].form#lobbyCode {
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 0px 0px 9px transparent, 0px 0px 0px 4px var(--bg), 0px 0px 0px -1px var(--black);
}

input[type="text"].form {
    font-weight: 600;
    box-shadow: 0px 0px 0px 9px transparent, 0px 0px 0px 4px var(--bg), 0px 0px 0px -1px var(--black);
}

input[type="text"].form:focus {
    box-shadow: 0px 0px 0px 9px transparent, 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px var(--black);
    background-color: #fff;
}

#icon-preview {
    width: 12rem;
    height: 12rem;
    box-shadow: 0px 0px 0px 4px var(--black);
    border-radius: 50%;
}

#icon-picker {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    margin: 1em;
}

button.icon-swap {
    font-family: "Material Symbols Rounded";
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--black);
    font-weight: 600;
    padding: 0.5em;
    
}

button.icon-swap span {
    font-family: "Material Symbols Rounded";
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--black);
    font-weight: 600;
    /* filter: drop-shadow(0px 0px 0px var(--black)); */
    transition: 0.3s ease;
    position: relative;
    left: 0px;
}

button.icon-swap span::after {
    content: "arrow_forward_ios";
    font-family: "Material Symbols Rounded";
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--black);
    font-weight: 600;
    transition: 0.3s ease;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    opacity: 0;
}

/* button.icon-swap:hover span {
    filter: drop-shadow(12px 0px 0px var(--black));
} */

button.icon-swap:hover span::after {
    left: 12px;
    right: -12px;
    opacity: 1;
}

button.icon-swap:active span {
    /* filter: drop-shadow(0px 0px 0px var(--black)); */
    left: 24px;
    transition: 0.1s ease;
}

button.icon-swap:active span::after {
    left: 0px;
    right: 0px;
    transition: 0.1s ease;
    opacity: 1;
}

button.icon-swap#icon-last {
    transform: scaleX(-1);
}

div#lobby-check {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    flex-direction: row;
}

div#lobby-check span#lobby-check-status {
    font-size: 24px;
}

button.back {
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 1rem;
    border: 4px solid var(--black);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.3s ease;
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 0px var(--black), 0px 0px 0px 10px transparent;
    background-color: #fff;
}

button.back:hover {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px var(--black), 0px 0px 0px 10px transparent;
}

button.back:active {
    transition: 0s 0s ease;
    background-color: var(--black);
}

button.back span.micon {
    font-size: 24px;
    font-weight: 800;
}
