
.sidebar {
    display: flex;
    align-content: stretch;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 0.3s 0s ease;
    width: 4rem;
    overflow: hidden;
}

.sidebar:hover {
    width: 50vw;
}

.playeractions {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto;
    gap: 12px;
    transition: inherit;
    opacity: 0;
    margin: 1rem;
    align-items: center;
}

.sidebar .currentroom {
    text-transform: uppercase;
}

.sidebar:hover .playeractions {
    opacity: 1;
}

.playeractions button {
    border: 4px solid var(--black);
    box-sizing: border-box;
    margin: 0px;
    display: block;
    align-content: center;
    background-color: #fff;
    color: var(--black);
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 0px var(--black), 0px 0px 0px 10px transparent;
    transition: inherit;
    flex-shrink: 1;
    flex-grow: 1;
}

.playeractions button:hover {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px var(--black), 0px 0px 0px 10px transparent;
}

.playeractions button:active {
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 8px var(--black), 0px 0px 0px 10px transparent;
    background-color: var(--black);
    transition: 0s 0s ease;
}

.playerlist {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.2rem;
    transition: inherit;
    /* border: 1px solid var(--black); */
    justify-self: start;
}

.playerlist .player {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    transition: inherit;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 0px;
    max-height: 100px;
}

.playerlist .player .player-name .player-kick {
    interpolate-size: allow-keywords;
    float: right;
    transform: scale(0);
    opacity: 0;
    transition: inherit;
    height: 24px;
    border-radius: 12px;
    background-color: var(--bg);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 0px 4px var(--bg), 0px 0px 0px 10px transparent, 0px 0px 0px 0px var(--black);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
    color: #0000;
    padding-left: 0rem;
    font-weight: 800;
    grid-column: 3;
    width: 24px;
    overflow: hidden;
}
.playerlist .player .player-name .player-kick span {
    font-size: 24px;
    padding-left: 0em;
    display: block;
    width: 24px;
    color: var(--black);
    font-weight: 800;
    transition: inherit;
}
.playerlist .player:hover .player-name .player-kick {
    justify-self: end;
    transform: scale(1);
    opacity: 1;
}
.playerlist .player:hover .player-name .player-kick:hover {
    box-shadow: 0px 0px 0px 4px #fc4c4c, 0px 0px 0px 10px transparent, 0px 0px 0px 8px #000f;
    color: var(--black);
    background-color: #fc4c4c;
    width: auto;
    padding-left: 1rem;
}
.playerlist .player:hover .player-name .player-kick:hover span {
    padding-left: 0.5rem;
}
.playerlist .player .player-name .player-master {
    padding: 0.5rem;
}

.playerlist .player .player-icon {
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    box-shadow: 0px 0px 0px 4px var(--black);
    overflow: hidden;
    transition: inherit;
    background-color: var(--black);
    z-index: 2;
}

.sidebar:hover .playerlist .player .player-icon {
    width: 3rem;
    height: 3rem;
    box-shadow: 0px 0px 0px 4px var(--black);
}

.playerlist .player .player-icon img {
    width: 100%;
    height: 100%;
}

.playerlist .player .player-name {
    interpolate-size: allow-keywords;
    width: 0px;
    overflow: hidden;
    text-wrap: nowrap;
    transition: inherit;
    font-weight: 400;
    flex-grow: 1;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

.playerlist .player:hover {
    gap: 3rem;
    padding-left: 5rem;
    /* flex-basis: 3rem; */
}

.sidebar:hover .playerlist .player {
    gap: 2rem;
}

.sidebar:hover .playerlist .player .player-name {
    width: auto;
    flex-shrink: 1;
}

.sidebar:hover .playerlist .player:hover .player-name {
    font-weight: 800;
}

.sidebar:hover .playerlist .player:hover .player-icon {
    box-shadow: 0px 0px 0px 8px var(--black);
    width: 4rem;
    height: 4rem;
    z-index: 3;
}